html{
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

body{
	width: 100%;	
	margin: 0px;
	background: #fdf6e3;
}

a{
	text-decoration: none;	
}

div{
	padding: 0px;
	margin: 0px;
}
ul li {
	color: #657b83;	
	text-align:left;
	margin:0;
	padding:0;
	line-height:20px;
	
}
p{
margin: 0 20 0 20;	
	
}
pre{
	font-family: 'Droid Sans Mono', ;
	color: #586e75;
}
.bloque{
	background: #EEE8D5;	
	margin-bottom:5px;
}


.bloque h5{
	color: #859900;
}

.error h3{
	color: #FF0040;
}

.titulo{
	margin-top: 50px;
	text-align: center;
	height: 60px;
	 color:#2aa198;	
	 overflow: hidden;
}
.titulo h3{
	line-height: 60px;
	margin: 0px;
}
.tituloPrincipal{
	color: #268bd2;
	text-align: center;
}
.contenedor{
	width: 90%;	
	padding: 0px;
	margin: auto;
}

#menu{
	background: #EEE8D5;
	padding: 10px;
	width: 25%;
	height: 100%;
	margin: 0px;
	position: fixed;
	float: left;
	word-wrap: break-word;
}

#contenido{
	width: 65%;
	margin: 0px;	
	float:right;
}